body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Roboto, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

.container h2,
.container h3 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.site-header {
  background-color: #f3f7f8
}

/* HEADER - Top part with search input and bookmarks */
.site-header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.search label {
  font-size: 0;
}

.search svg {
  opacity: 0.3;
  fill: #ffffff;
}

.search svg:hover,
.search svg:focus {
  opacity: 1;
}

.search svg:active {
  opacity: 1;
  fill: #ee3643;
}

.shopping svg {
  opacity: 0.3;
  fill: #ffffff;
}

.shopping a:hover svg,
.shopping a:focus svg {
  opacity: 1;
  fill: #ffffff;
}

.shopping a:active svg {
  opacity: 0.5;
  fill: #ffffff;
}

.site-header-top a {
  color: #ffffff;
  opacity: 1;
}

.site-header-top a:hover,
.site-header-top a:focus {
  opacity: 1;
}

.site-header-top a:active {
  opacity: 0.5;
  background-color: #161d29;
}

.site-header-top a.cart-has-items {
  background-color: #ee3643;
}

.site-header .button-green {
  color: #ffffff;

  background-color: #63a63e;
}

.site-header .button-green:hover,
.site-header .button-green:focus {
  background-color: #5fbb2d;
}

 .site-header .button-green:active {
  background-color: #518534;
}

/* HEADER - Middle part with H1, contacts and account navigation */
.site-header h1 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 700;
  color: #ee3643;
}

.site-header .contacts a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.site-header .contacts address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.account-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.account-navigation a:hover,
.account-navigation a:focus {
  color: #ee3643;
}

.account-navigation a:active {
  color: #c5c5c5;
}

.account-navigation svg {
  fill: #c5c5c5;
}

.account-navigation a:focus svg,
.account-navigation a:hover svg {
  fill: #32425C;
}

.account-navigation a:active svg {
  fill: #c5c5c5;
}

.account-navigation .account-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;

  background-color: #f2f6f8;
}

.account-navigation .account-link:hover,
.account-navigation .account-link:focus {
  color: #ee3643;
}

/* HEADER - Main menu */
.site-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
}

.site-navigation a {
  color: #ffffff;

  background-color: #32425c;
}

.site-header .site-navigation a:hover,
.site-header .site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  opacity: 0.5;
  background-color: #1d2739;
}

/* MAIN - Popular items */
.popular .section-header {
  background-color: #f9f5f0;
}

.popular .section-header h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  background-color: #f9f5f0;
}

.popular .section-header a {
  color: #ffffff;

  background-color: #ee3643;
}

/* ITEMS - Popular items or Search Results items */
.items h3 {
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
}

.items li {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
}

.items .price-old {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.items .hover-part {
  visibility: hidden;
}

.items li:hover {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.items li:hover .hover-part {
  visibility: visible;
}

.items li:hover .visible-part {
  visibility: hidden;
}

.button-price {
  background-color: #ee3643;
}

.button-price:hover,
.button-price:focus {
  background-color: #ca2c37;
}

.button-price:active {
  background-color: #ba2732;
}

/* .items .item-new {
  display: block;

  color: #ffffff;

  background-color: #ee3643;
} */

/*
.button-price {
  position: relative;
  padding-right: 20px;
}

.button-price::after {
  position: absolute;
  content: "";
  border: 19px solid #ffffff;
  top: 0px;
  right: -19px;
  border-right-width: 0;
  border-left-color: #ee3643;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
*/

/* SERVICES */
.services {
  color: #000000;

  background-color: #f4f8fa;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
}

.services p {
  font-family: 'PT Sans Narrow', sans-serif;
}

.services h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;

  background-color: #f4f8fa;
}

.services-list .service.active {
  color: #32425c;

  background-color: #ffffff
}

.services-list .service {
  width: 240px;

  color: #ffffff;

  background-color: #32425c
}

.services-list .service:not(.active):hover,
.services-list .service:not(.active):focus {
  background-color: #293449;
}

/* ABOUT */
.about h2 {
  font-size: 30px;
  line-height: 30px;
}

.about p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* FOOTER */
.site-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;

  background-color: #32425c;
}

.site-footer .address a {
  color: #f1f5f7;
}

.site-footer-bottom {
  background-color: #293449;
}

.site-footer .categories a,
.site-footer .site-footer-bottom a {
  color: #ffd180;
}

.site-footer .categories a:hover,
.site-footer .categories a:focus,
.site-footer .site-footer-bottom a:hover,
.site-footer .site-footer-bottom a:focus,
.site-footer .site-navigation a:hover,
.site-footer .site-navigation a:focus {
  text-decoration: underline;
}

.site-footer .site-footer-bottom {
  font-size: 16px;
  line-height: 18px;
}

/* CATALOG */
.catalog {
  font-family: 'PT Sans Narrow', sans-serif;
}

.bread-crumbs {
  color: #000000;

  background-color: #ffffff;
}

.search .section-header {
  color: #32425c;

  background-color: #f2f6f8;
}

.filter h3,
.sorting h3 {
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #f7f3ec;
}

.items h3 {
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
}

.filter h4 {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter .range-slider,
.filter .range-prices input {
  background-color: #f7f3ec;
}

/* BUTTONS */
.button {
  display: inline-block;
  min-width: 135px;
  padding: 10px 0;
  border: 0;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  cursor: pointer;
}

.button-red {
  background-color: #ee3643;
}

.button-red:hover,
.button-red:focus,
a.button-red:hover,
a.button-red:focus {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.popular .section-header .button {
  width: 253px;
}

.about .button {
  width: 220px;
}

.about .contacts .button {
  width: 100%;
}

.button-buy {
  padding: 10px 0;
  padding-bottom: 8px;
  border-bottom: 3px solid #518534;

  background-color: #63a63e;
}

.button-buy svg {
  fill: #ffffff;
  opacity: 0.3;
}

.button-buy:hover,
.button-buy:focus {
  border-bottom: 3px solid #518534;

  background-color: #5fbb2d;
}

.button-buy:focus svg,
.button-buy:hover svg {
  opacity: 1;
}

.button-buy:active {
  background-color: #518534;
}

.button-buy:active svg {
  opacity: 1;
}

.button-favorites {
  padding: 8px 0;
  border: 2px solid #63a63e;

  color: #32425c;

  outline: none;
  background-color: #ffffff;
}

.button-favorites:hover,
.button-favorites:focus {
  border: 2px solid #32425c;

  background-color: #ffffff;
}

.button-favorites:active {
  border: 2px solid #c1c6ce;

  color: #c1c6ce;

  background-color: #ffffff;
}

.filter .button,
.pagination .button {
  border: 1px solid #e5e5e5;

  color: #000000;

  outline: none;
  background-color: #ffffff;
}

.filter .button:hover,
.filter .button:focus,
.pagination .button:focus,
.pagination .button:hover {
  border: 1px solid #bdc6ca;

  background-color: #ffffff;
}

.filter .button:active,
.pagination .button:active {
  border: 1px solid #ee3643;

  background-color: #ffffff;
}

.pagination .button-red {
  border: 1px solid #ee3643;
  color: #ffffff;

  background-color: #ee3643;

}

.pagination .button-red:hover,
.pagination .button-red:focus {
  border: 1px solid #ca2c37;

  background-color: #ca2c37;
}

.pagination .button-red:active {
  border: 1px solid #ba2732;

  background-color: #ba2732;
}

/* MODAL - Add to CART */
.modal {
  background-color: #ffffff;
}

.modal .modal-footer {
  background-color: #f1f1f1;
}

.modal label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

.modal-cart {
  border-top: 7px solid #ee3643;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;

  background-color: #212a3a;
}

.social-links a svg {
  fill: #ffffff;
}

.social-links a:hover,
.social-links a:focus,
.social-links a:active {
  background-color: #ee3643;
}