body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

.container h2,
.container h3 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.site-header {
  background-color: #f3f7f8
}

.site-header .site-logo:hover,
.site-header .site-logo:focus {
  opacity: 0.8;
}

/* ============ HEADER ============ */
.site-header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

/* HEADER > Site Search */
.site-header-top a {
  color: #ffffff;
  opacity: 1;
}

.site-header-top a:hover {
  opacity: 1;
}

.site-header-top a:focus {
  background-color: #161d29;
  opacity: 0.5;
}

.site-search label {
  font: inherit;
  font-size: 0;
}

.site-search svg {
  fill: #ffffff;
  opacity: 0.3;
}

.site-search:hover svg {
  opacity: 1;
}

.search-input:focus + svg {
  fill: #ee3643;
  background-color: #ffffff;
  opacity: 1;
}

/* HEADER > Shopping Status (Bookmarks, Cart, Order Button) */
.shopping svg {
  fill: #ffffff;
  opacity: 0.3;
}

.shopping-link:hover {
  background-color: #212a3a;
}

.shopping-link:focus {
  background-color: #161d29;
}

.shopping-link:hover svg {
  opacity: 1;
}

.shopping-link:focus svg {
  opacity: 1;
}

.shopping-link.button-red:hover {
  background-color: #ca2c37;
}

.shopping-link.button-red:focus {
  background-color: #ba2732;
}

.shopping-link.button-green:hover {
  background-color: #5fbb2d;
}

.shopping-link.button-green:focus {
  background-color: #518534;
}

/* HEADER - Middle part with H1, contacts and account navigation */
.site-header h1 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 700;
  color: #ee3643;
}

.contacts a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.contacts address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.account-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.account-navigation a:hover {
  color: #ee3643;
}

.account-navigation a:focus {
  color: #c5c5c5;
}

.account-navigation svg {
  fill: #c5c5c5;
}

.account-button:hover svg {
  fill: #32425C;
}

.account-button:focus svg {
  fill: #c5c5c5;
}

.account-navigation .account-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;

  background-color: #f2f6f8;
}

.account-navigation .account-link:hover {
  color: #ee3643;
}

.account-navigation .account-link:focus {
  color: #c5c5c5;
}

/* HEADER > Main menu */
.header-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
}

.header-navigation a {
  color: #ffffff;

  background-color: #32425c;
}

.header-navigation a:hover {
  background-color: #293449;
}

.header-navigation a:focus {
  background-color: #1d2739;
  opacity: 0.5;
}

/* ============ MAIN ============ */

/* Popular Items */
.popular .section-header {
  background-color: #f9f5f0;
}

.section-header h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  background-color: #f9f5f0;
}

.section-header a {
  color: #ffffff;

  background-color: #ee3643;
}

.section-header .button {
  width: 253px;
}

.popular .items {
  display: flex;
  flex-direction: row;
}

.popular .item {
  flex-basis: 25%;
}

/* Popular Brands */
.popular-brands .brands {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.popular-brands .brand:hover {
  box-shadow: 0 10px 25px 0 rgba(41,52,73,0.5);
}

.popular-brands .brand:focus {
  box-shadow: 0 4px 10px 0 rgba(41,52,73,0.5);
  opacity: 0.3;
}

.brands .brand {
  flex-basis: 25%;
}

/* ============ ITEMS ============ */

/* Popular items or Search Results items */
.items h3 {
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
}

.items li {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  text-align: center;
}

.items .price-old {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.items .hover-part {
  visibility: hidden;
}

.items li:hover {
  box-shadow: 0 10px 25px 0 rgba(41,52,73,0.5);
}

.items li:hover .hover-part {
  visibility: visible;
}

.items li:hover .visible-part {
  visibility: hidden;
}

.button-price {
  position: relative;
  background-color: #ee3643;
}

.button-price:hover {
  background-color: #ca2c37;
}

.button-price:focus {
  background-color: #ba2732;
}

.button-price::after {
  position: absolute;
  top:0;
  bottom: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19px 0 19px 19px;
  border-color: transparent transparent transparent #ee3643;
  content: "";
}

.button-price:hover::after {
  border-color: transparent transparent transparent #ca2c37;
}

.button-price:focus::after {
  border-color: transparent transparent transparent #ba2732;
}

/* ============ SERVICES ============ */
.services {
  color: #000000;

  background-color: #f4f8fa;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
}

.services p {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;

  background-color: #f4f8fa;
}

.services-list .service.active {
  color: #32425c;

  background-color: #ffffff
}

.services-list .service {
  width: 240px;

  color: #ffffff;

  background-color: #32425c
}

.services-list .service:not(.active):hover,
.services-list .service:not(.active):focus {
  background-color: #293449;
}

/* ============ ABOUT ============ */
.about h2 {
  font-size: 30px;
  line-height: 30px;
}

.about p {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* ============ FOOTER ============ */
.site-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;

  background-color: #32425c;
}

.site-footer .address a {
  color: #f1f5f7;
}

.site-footer-bottom {
  background-color: #293449;
}

.site-navigation a {
  color: #ffffff;
  text-decoration: none;

  background-color: #32425c;
}

.categories-navigation a,
.site-footer-bottom a {
  color: #ffd180;
}

.categories-navigation a:hover,
.site-footer-bottom a:hover,
.site-navigation a:hover {
  text-decoration: underline;
}

.site-navigation a:focus,
.categories-navigation a:focus {
  text-decoration: none;
  opacity: 0.5;
}

.site-footer-bottom a:focus {
  color: #ee3643;
  text-decoration: none;
}

.site-footer .site-footer-bottom {
  font-size: 16px;
  line-height: 18px;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;

  background-color: #212a3a;
}

.social-links a svg {
  fill: #ffffff;
}

.social-links a:hover,
.social-links a:focus {
  background-color: #ee3643;
}

/* ============ CATALOG PAGE ============ */
.catalog {
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

.catalog h2 {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.bread-crumbs {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.search .section-header {
  color: #32425c;

  background-color: #f2f6f8;
}

.search .flex-columns {
  display: flex;
}

.flex-columns .filter {
  flex-basis: 30%;
}

.flex-columns .flex-rows {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.search .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search .item {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.search .hover-part {
  display: flex;
  flex-direction: column;
}

.filter h3,
.sorting h3 {
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #f7f3ec;
}

.filter h4 {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter .range-slider,
.filter .range-prices input {
  background-color: #f7f3ec;
}

/* ============ BUTTONS ============ */
.button {
  display: inline-block;
  min-width: 135px;
  padding: 10px 0;
  border: 0;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  cursor: pointer;
}

.button-red {
  background-color: #ee3643;
}

.button-green {
  background-color: #63a63e;
}

.button-red:hover,
a.button-red:hover {
  background-color: #ca2c37;
}

.button-red:focus,
a.button-red:focus {
  background-color: #ba2732;
}

.about .button {
  width: 220px;
}

.contacts-map .button {
  width: 100%;
}

.button-buy {
  padding: 10px 0;
  padding-bottom: 8px;
  border-bottom: 3px solid #518534;

  background-color: #63a63e;
}

.button-buy svg {
  fill: #ffffff;
  opacity: 0.3;
}

.button-buy:hover {
  border-bottom: 3px solid #518534;

  background-color: #5fbb2d;
}

.button-buy:hover svg {
  opacity: 1;
}

.button-buy:focus {
  background-color: #518534;
}

.button-buy:focus svg {
  opacity: 1;
}

.button-favorites {
  padding: 8px 0;
  border: 2px solid #63a63e;

  color: #32425c;

  outline: none;
  background-color: #ffffff;
}

.button-favorites:hover {
  border: 2px solid #32425c;

  background-color: #ffffff;
}

.button-favorites:focus {
  border: 2px solid #c1c6ce;

  color: #c1c6ce;

  background-color: #ffffff;
}

.button-pagination {
  min-width: 38px;
}

.filter .button,
.pagination .button {
  border: 1px solid #e5e5e5;

  color: #000000;

  outline: none;
  background-color: #ffffff;
}

.filter .button:hover,
.pagination .button:hover {
  border: 1px solid #bdc6ca;

  background-color: #ffffff;
}

.filter .button:focus,
.pagination .button:focus {
  border: 1px solid #ee3643;

  background-color: #ffffff;
}

.pagination .button-red {
  border: 1px solid #ee3643;
  color: #ffffff;

  background-color: #ee3643;

}

.pagination .button-red:hover {
  border: 1px solid #ca2c37;

  background-color: #ca2c37;
}

.pagination .button-red:focus {
  border: 1px solid #ba2732;

  background-color: #ba2732;
}

/* ============ MODAL ============ */
.modal {
  background-color: #ffffff;
}

.modal .modal-footer {
  background-color: #f1f1f1;
}

.modal label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

.modal-cart {
  border-top: 7px solid #ee3643;
}
